* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --black: black;
  --white: white;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
header {
  position: sticky;
  top: 0;
  padding: 35px 0;
  background-color: var(--white);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo a {
  font-size: 32px;
  font-family: "Newsreader", serif;
  color: var(--green);
}
header .container nav ul {
  display: flex;
}
header .container nav ul li a {
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: var(--black);
}
header .container nav ul li .basket_btn {
  background-color: var(--green);
  color: var(--white);
  border-radius: 8px;
}
header .container nav label {
  display: none;
}
header .container nav input {
  appearance: none;
}
@media (max-width: 750px) {
  header .container nav ul {
    display: none;
    background-color: darkgrey;
    position: absolute;
    right: 0px;
  }
  header .container nav ul li {
    padding: 10px;
    border: 1px solid;
  }
  header .container nav label {
    display: block;
  }
  header .container nav input:checked ~ ul {
    display: block;
  }
  header .container nav ul li .basket_btn {
    padding: 10px;
    margin-left: 17px;
  }
}