* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --black: black;
  --white: #fafaf5;
  --gray: #e6e6e6;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
span {
  font-family: "Inter", sans-serif;
}
.basket .container .titel_basket {
  border-bottom: 2px solid var(--gray);
  padding-bottom: 30px;
}
.basket .container .titel_basket h2 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -2%;
  font-family: "Newsreader", serif;
  text-transform: capitalize;
}
.basket .container .titel_basket span {
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
}
.items {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--gray);
  border-radius: 24px;
  margin-top: 40px;
  overflow: hidden;
  background-color: var(--white);
}
.basket .container .selected_items {
  display: flex;
}
.basket .container .selected_items .info_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.basket .container .selected_items .info_select h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  margin-bottom: 15px;
}
.basket .container .selected_items .info_select .price {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--green);
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.basket .container .selected_items .info_select .how_many {
  border: 2px solid var(--gray);
  border-radius: 20px;
  width: 128px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.basket .container .items .price-2 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}
