* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --black: black;
  --white: #fafaf5;
  --white2: white;
  --gray: #e6e6e6;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
span {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.basket .container .titel_basket {
  border-bottom: 2px solid var(--gray);
  padding: 20px 0 20px 0;
}
.basket .container .titel_basket h2 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -2%;
  font-family: "Newsreader", serif;
  text-transform: capitalize;
}
.basket .container .titel_basket span {
  font-weight: 300;
  text-transform: none;
}
.items {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--gray);
  border-radius: 24px;
  margin-top: 40px;
  overflow: hidden;
  background-color: var(--white);
}
.basket .container .selected_items {
  display: flex;
}

.basket .container .selected_items .info_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.basket .container .selected_items .info_select h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 26px;
  margin-bottom: 15px;
}
.basket .container .selected_items .info_select .price {
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--green);
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.basket .container .selected_items .info_select .how_many {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 20px;
  width: 128px;
  height: 40px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.how_many img {
  width: 20px;
}
.basket .container .items .price-2 {
  font-weight: 600;
  padding: 20px;
}
.all_items {
  width: 60%;
}
.items_and_summary {
  display: flex;
  justify-content: space-between;
}
.summary {
  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: 24px;
  width: 35%;
  height: 320px;
  margin-top: 40px;
  padding: 20px;
}
.summary h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.summary .all_summary {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.summary .all_summary .info_total,
.num_total {
  display: flex;
  flex-direction: column;
}
.info_total .total_summary {
  font-weight: 600;
}
.summary .all_summary .info_total span {
  font-size: 16px;
  line-height: 20.8px;
  padding-top: 20px;
}
.summary .all_summary .num_total span {
  padding-top: 20px;
}
.summary .all_summary .num_total .total {
  font-weight: 600;
}
.summary .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  border-radius: 8px;
  padding: 5px 15px;
  margin-top: 13px;
}
.summary .btn a {
  color: var(--white2);
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  align-items: center;
}
.summary .btn img {
  width: 30px;
  margin-top: 7px;
}
@media (max-width: 670px) {
  .basket .container .items {
    width: 200px;
  }
  .basket .container .items .selected_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .summary {
    width: 450px;
  }
  .summary .btn {
    width: 226px;
  }
}
